<form action="/add-to-order" method="post">
  <div class="container">
  <div id="multiplier" class="row btn-group btn-group-lg btn-block" role="group" aria-label="multiplier" data-toggle="buttons">
    <label class="btn btn-primary col-md-2">
      <input type="radio" name="multiplier" value="1" autocomplete="off" checked>1</input>
    </label>
    <% (2..9).each do |digit| %>
      <label class="btn btn-primary col-md-2">
        <input type="radio" name="multiplier" value="<%= digit %>" autocomplete="off"><%= digit %></input>
      </label>
    <% end %>
  </div>
  <hr>

<div class="container" id="menu">
  <% @cafe_prices.each_with_index do |(item, price), index| %>
    <%= '<div class="row">' if index%4 == 0 %>
      <div class="col-md-3">
        <button type="submit" name="item" class="btn btn-success btn-block" value="<%= item %>"><%= item %> - <%= pounds(price) %></button>
      </div>
    <%= '</div>' if index%4 == 3 || index == @cafe_prices.count - 1%>
  <% end %>
</div>

</div>
</form>
<hr>
<div class="container" id="order">
  <h3>Your Order</h3>
  <ul>
    <% @order_items.each do |item| %>
      <li><%= @order_quantities[item].to_s + ' x ' + item + ' = ' + pounds(@order_line_totals[item]) %></li>
    <% end %>
  </ul>
  Subtotal: <%= pounds(@order_subtotal) %>
  <br>
  Tax rate: <%= @TAX_RATE %>%
  <br>
  Order total: <%= pounds(@order_total) %>
</div>
