<form action="/add-to-order" method="post">
  <div class="container">
    <div id="multiplier" class="row btn-group btn-group-lg btn-block" role="group" aria-label="multiplier">
      <label class="btn btn-primary col-md-2">
        <input id="add-<%= 1 %>" type="radio" name="multiplier" value="1" autocomplete="off" checked>1
      </label>
      <% (2..9).each do |digit| %>
        <label class="btn btn-primary col-md-2">
          <input id="add-<%= digit %>" type="radio" name="multiplier" value="<%= digit %>" autocomplete="off"><%= digit %>
        </label>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="container" id="menu">
    <% @cafe_prices.each_with_index do |(item, price), index| %>
      <%= '<div class="row">' if index%4 == 0 %>
        <div class="col-md-3">
          <button type="submit" name="item" class="btn btn-success btn-block" value="<%= item %>"><%= item %> - <%= pounds(price) %></button>
        </div>
      <%= '</div>' if index%4 == 3 || index == @cafe_prices.count - 1%>
    <% end %>
  </div>
</form>
<hr>
<div class="container" id="order">
  <h3>Your Order</h3>
  <%= Time.now %>
  <br>
  <%= @cafe_name %>
  <br>
  <%= @cafe_address %>
  <br>
  Phone: +<%= @cafe_phone %>
  <ul>
    <% @order_items.each do |item| %>
      <li><%= @order_quantities[item].to_s + ' x ' + item + ' = ' + pounds(@order_line_totals[item]) %></li>
    <% end %>
  </ul>
  Subtotal: <%= pounds(@order_subtotal) %>
  <br>
  <% if @order_muffin_subtotal > 0 %>
    Voucher: 10% off all muffins!
  <% end %>
  <br>
  <% if @volume_discount == true %>
    Discount: 5% from <%= pounds(@order_subtotal - @order_muffin_discount_amount) %>
    <br>
  <% end %>
  Tax rate: <%= @TAX_RATE %>%
  <br>
  Tax: <%= pounds(@order_tax) %>
  <br>
  Order total: <%= pounds(@order_total) %>
</div>
<hr>
<div class="container" id="finalisation">
  <div class="row">
    <form onsubmit="return false" oninput="change.value = '£'+((paid.value - <%= @order_total %>) / 100).toFixed(2);">
      <div class="form-group">
        <label class="col-md-3 text-right" for="paid">Amount paid (pence)</label>
        <input class="col-md-3 text-left" type="text" name="paid" id="paid" placeholder="Enter the amount in pence" autocomplete="off">
      </div>
      <div class="form-group">
        <label class="col-md-3 text-right" for="change">Change due</label>
        <output class="col-md-3 text-left" type="text" id="change" name="change"></output>
      </div>
    </form>
  </div>
</div>
