<section id='receipt-box'>
  <img src='/images/coffee_logo.png'>

  <p>{{time}}</p>
  <p>The Coffee Connection</p>
      
  Items:
  <ul id='order-list'>
    {{#order.items}}
    <li>{{name}} X {{quantity}} <span class="right"> {{#if discount }} Discounted {{ discount }} from {{/if}} {{cost}}</li></span>
    {{/order.items}}
  </ul>

  <ul id='footer'>
    <li>Subtotal: <span class='right'>{{order.total}}</span>
    {{#if discount.total }}
    <li>Discount: <span class="right">{{discount.discount}} ({{discount.total}})</span></li>
    {{/if}}
    <li>Tax ({{tax.tax_rate}}): <span class="right">{{tax.total}}</span></li>
    <li>Total:                  <span class='right'>{{total}}    </span></li>
    <br/>

    {{#if payment}}
    <li>Payment:           <span class='right'>{{payment.payment}}          </span> <li>
    <li>Remaining Balance: <span class='right'>{{payment.remaining_balance}}</span></li>
    <li>Change:            <span class='right'>{{payment.change}}           </span></li>
    {{/if}}
  </ul>

</section>

